.counter {
  border: 1px solid black;
  max-width: 600px;
  margin: auto;
  margin-top: 15px;
  padding: 30px;
}

.counter button {
  background-color: blueviolet;
  color: aliceblue;
  padding: 10 px 15 px;
  border: none;
  cursor: pointer;
}

.counter button:hover {
  background-color: brown;
}


.clockControl{
  text-decoration: underline;
  cursor: pointer;
}